[Unit]
Description=Gunicorn socket for Wedding Gallery

[Socket]
ListenStream=/run/gunicorn-wedding.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
